:7860 {
    # Proxy API and Websocket requests without stripping the URL paths
    # Use 127.0.0.1 to force IPv4 and prevent [::1] connection refused errors
    reverse_proxy /_event* 127.0.0.1:8000
    reverse_proxy /ping* 127.0.0.1:8000
    reverse_proxy /_upload* 127.0.0.1:8000
    
    # Proxy all other standard HTTP traffic to the React JS frontend
    reverse_proxy * 127.0.0.1:3000
}
